.textmarker{
  line-height:normal;
  font-family:Verdana, sans-serif;
}
.textmarker_body{  
  text-shadow:2px 2px 4px #000000;
  color:#FF0000;
}
.textmarker_body a:link, .textmarker_body a:visited{
  text-decoration:none;
  text-shadow:2px 2px 4px #000000;
  color:#FF0000;
  text-decoration:none;
}
.textmarker_body a:hover{
  color:#FF0000;
  text-decoration:underline;
}

.tagmap-view-info-title {
  font-weight:bold;
  font-size:14px;
  margin-bottom:10px;
}

.tagmap-view-info-content .tagmap-cloud-paragraph{
  margin:5px 0;
  font-size:11px;
  line-height:100%;
}

.tagmap-cloud-image {
  float: left; 
  padding: 0 10px 10px 10px;
}

#tagmap-colors .form-item{
  float: left;
  margin-right: 30px;
  margin-top:1px;
}

#tagmap-colors .form-item label{
  float: left;
  margin-right: 5px;
  margin-top:1px;
}

#tagmap-colors .form-item .picker_wrapper{
  margin-left:69px;
}
#edit-preset-colors-tagmap-add{
  margin-left:10px;
  margin-top:1px;
}